.first_page {
  display: flex;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden; 
  background-color: rgb(185, 186, 187);
  /* position: relative; */
}

.first_page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.first_page h1 {
  position: relative;
  z-index: 1;
}

.get-started-btn {
  background-color: #4CAF50; /* Verde suave, associado a plantas */
  color: white;
  border: 2px solid #388E3C; /* Cor mais forte de verde para borda */
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 500; /* Peso mais leve para um toque sutil */
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Lora', serif; /* Fonte mais sutil e elegante */
  transition: all 0.3s ease;
}

.get-started-btn:hover {
  background-color: #388E3C; /* Escurece ao passar o mouse */
  border-color: #4CAF50;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Efeito de sombra suave */
}

.getstarted_btn {
  text-align: center;
  font-size: 28px;
  font-family: 'Lora', serif; /* Fonte sutil para o título também */
}

.main_event {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgba(51, 61, 80, 0.7);
}

.aboutus_main {
  width: 800px;
  color: white;
  /* background-color: rgba(0,0,0,0.1); */

}

.aboutus_container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: justify;
}

.aboutus_container p {
  font-size: 23px;
  font-weight: 700;
  

}
.aboutus_container h4 {
  text-align: center;
 
}

.first_page_name_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 500px;
}

.first_page_name_btn h1 {
  font-size: 45px;
  text-align: center;
}

.first_page_name_btn p {
  font-size: 26px;
}

.event-list-container {
  position: absolute;
  overflow-x: hidden;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  transition: top 0.5s ease;
  overflow-y: auto;
  z-index: 2;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.event-list-container.visible {
  top: 0;
}

.budget_heading {
  font-size: 40px;
}

.budget_sentence {
  font-size: 29px;
}
